<!DOCTYPE html>
<html>
  <head>
    <title>Registartion Form</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1><i>Student Registration Form</i></h1>
           
        
    <form id="myForm">
      <label for="name">First name:</label><br>
      <input type="text" name="fname" value="" id="fname">
      <span id="nameError" class="text-danger font-weight bold"></span><br><br>
     
      <label for="lastname">Last name:</label><br>
      <input type="text"  name="lastname" value="" id="lastname">
      <br><br>
      <span id="lastError" class="text-danger font-weight bold"></span><br>

      <label for="email">Email:</label><br>
      <input type="text"  name="email" value="" id="email"><br><br>
      <span id="emailError" class="text-danger font-weight bold"></span><br>
      
      <label for="password">password:</label><br>
      <input type="password"  name="password" value="" id="password"><br><br>
      <span id="passError" class="text-danger font-weight bold"></span><br>
      
      <label for="confirmpassword">confirmpassword:</label><br>
      <input type="password"  name="confirmpassword" value="" id="confirmpassword"><br><br>
      <span id="passwordError" class="text-danger font-weight bold"></span><br><br>
      
      <button type="button"  onclick="loadDoc()" >Register</button>
      <a class="nav-link active" aria-current="page"href="/">Login</a>
    </form> 
    
    <script type="text/javascript">
      function validation(){
        var name=document.getElementById('fname').value;
        var lastname=document.getElementById('lastname').value;
        var email=document.getElementById('email').value;
        var password=document.getElementById('password').value;
        var confirmpassword=document.getElementById('confirmpassword').value;
        var emailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        
        if(name == null || name == ""){
          // alert("name can't be blanked");
          document.getElementById('nameError').innerHTML="please fill data properly"
          return false;
        } else if(lastname == null || lastname =="") {
          document.getElementById('nameError').innerHTML="";
          document.getElementById('lastError').innerHTML="Please fill last name"
          return false; 
        }else if(email ==""){
          document.getElementById('lastError').innerHTML=""
          document.getElementById('emailError').innerHTML="Please fill email"
          return false; 
        } else if(!emailformat.test(email)){
          document.getElementById("emailError").innerHTML="Email is not correct";
          return false;
        } else if(password ==""){
          document.getElementById("emailError").innerHTML=""
          document.getElementById('passError').innerHTML="Please fill password"
          return false;
        } else if(confirmpassword ==""){
          document.getElementById('passError').innerHTML=""
          document.getElementById('passwordError').innerHTML="Please fill confirm password."
          return false;
        }else if(password!==confirmpassword){
            document.getElementById("passwordError").innerHTML="Password and confirm password not same."
            return false;
        }else{
          document.getElementById('passwordError').innerHTML="";
          return true
        }
      }

      function loadDoc(){
        var params = {
            'fname':fname.value,
            'lastname':lastname.value,
            'email':email.value,
            'password':password.value
        }
  console.log(params);
  
        if(validation() === true) {
          const  xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function(){
            if(this.status ===200){
              document.getElementById("myForm") = this.responseText;
            }
          };
          xhttp.open("POST","/register",true);
          xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          xhttp.send(`data=${JSON.stringify(params)}`)
        } else {
          validation();
        }
      };

    </script>
  </body>
</html>
